.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden; 
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('C:/Users/gayu0/OneDrive/Desktop/stack/prf/frontend/public/assets/login.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(10px); 
  z-index: -1; 
}

.login-container .content {
  position: relative;
  z-index: 1; 
}


form {
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px; 
}


.form-header {
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

h1 {
  color: #042a55;
  font-size: 24px;
  margin: 10px 0;
}

h2 {
  color: #dd1e1e;
  font-size: 18px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"]{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}
input[type="password"] {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #BEBEBE;
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #1259a9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.sign-in-button:hover {
  background-color: #357ABD;
}

.forgot-password {
  margin-top: 15px;
}

.forgot-password a {
  color: #FF4B4B;
  text-decoration: none;
}

.login-with-account {
  margin-top: 20px;
}

.login-with-account h3 {
  font-size: 18px;
  color: #FFD700;
  margin-bottom: 15px;
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-login-button i {
  margin-right: 8px; 
}

.google-login-button:hover {
  background-color: #357ABD;
}
